*{
    margin: 0;
    padding: 0;
}

.contant{
    background: url("../imgs/BG/rolls-royce.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputs{
    background-color: rgba(211, 211, 211, 0.219);
    backdrop-filter: blur(6px);
    height: 500px;
    width: 410px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    color: white;
}

.inputs .i{
    width: 80%;
}

.inputs .i .ih{
    margin-bottom: 25px;
}

.inputs .i .in input,.if input{
    width: 100%;
    margin: 10px 0px 10px 0px;
    padding: 20px 0px 20px 15px;
    border: 1px solid rgb(255, 255, 255);
    outline: none   ;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.027);
    backdrop-filter: blur(2px);
    box-shadow: 10px 10px 5px 1px rgba(29, 28, 28, 0.507);
    transition: .5s ease-in;
    color: white;
    font-size: 15px;
}

.inputs .i .in input:hover{
    box-shadow: 0px 0px 10px 10px rgba(29, 28, 28, .3);
    box-shadow: 0px 0px 20px 15px rgba(29, 28, 28, .3);
    box-shadow: 0px 0px 30px 20px rgba(29, 28, 28, .3);
    box-shadow: 0px 0px 40px 25px rgba(29, 28, 28, .3);
    box-shadow: 0px 0px 50px 30px rgba(29, 28, 28, .3);
}

.i .rp{
    margin: 10px 0px 0px 0px;
    outline: none;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.i .rp p{
    margin-left: -150px;
}

.i .rp a{
    color: rgb(145, 145, 211);
}

.if input{
    margin-top: 50px;
    padding: 10px 0px;
    background-color: rgba(40, 133, 214, 0.418);
    backdrop-filter: blur(1px);
    color: white;
    cursor: pointer;
}

.if input{
    box-shadow: 10px 10px 5px 1px rgba(29, 28, 28, 0.507);
    transition: .5s linear;
}

.if input:hover{
    box-shadow: 0px 0px 10px 10px rgba(43, 40, 209, 0.1), 0px 0px 20px 15px rgba(43, 40, 209, 0.1), 0px 0px 30px 20px rgba(43, 40, 209, 0.1), 0px 0px 40px 25px rgba(43, 40, 209, 0.1), 0px 0px 100px 50px rgba(43, 40, 209, 0.1);
}

::placeholder{
    color: white;
    font-size: 15px;
    opacity: 70%;
}

.ac{
    display: flex;
    justify-content: center;
    position: relative;
    top: 40px;
}

.ac h2{
    text-align: center;
}

.ac a{
    color: rgb(116, 96, 228);
    font-size: 15px;
    margin: 2px 0px 0px 10px;
}